#nav {
  background-color: #ffffffcc !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1005;
}

.home-bg {
  background-image: url("../Data/photo/image 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p {
  padding: 20px;
}

.what-we-do {
  background-image: url("../Data/photo/bg-2.svg");
}

.second-photo {
  width: 460px;
  height: auto;
}

.ani1 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.ani2 {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.about-bg {
  background-color: #fafafa;
}

.jusx-hero {
  position: relative;
  bottom: -25px;
}
.jusx-hero .custom-search-bar {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 15px;
  height: 52px;
  background: #ffffff;
}
.jusx-hero .custom-search-bar input {
  border: none !important;
  padding: 7px 5px;
  width: 80%;
  font-size: 19px;
}
.jusx-hero .custom-search-bar input:focus-visible {
  outline: none !important;
}
.jusx-hero .btn-search {
  border: none !important;
  border-radius: 0 !important;
  height: 52px !important;
  padding: 0 30px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

@media screen and (max-width: 480px) {
  .btn-search {
    padding: 0 20px !important;
  }
}
.jusx-content {
  margin-top: 130px;
  margin-bottom: 100px;
}
.jusx-content .custom-pagination .left-arrow a {
  border-radius: 50% !important;
  padding: 5px 10px !important;
}
.jusx-content .custom-pagination .page-number {
  margin: 0px 3px;
}
.jusx-content .custom-pagination .page-number a {
  border-radius: 5px !important;
  color: #ffffff;
  background: #cccccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.jusx-content .custom-pagination .page-number a:hover {
  background-color: #0dcaf0;
}
.jusx-content .custom-pagination .page-number a:active {
  background-color: #0dcaf0;
}
.jusx-content .custom-pagination .right-arrow a {
  border-radius: 50% !important;
  padding: 5px 10px !important;
}

.jusx-details {
  margin-top: 100px;
  margin-bottom: 50px;
}
.jusx-details .line {
  height: 2px;
}
.jusx-details .jusx-text p {
  font-size: 18px;
}
.jusx-details .jusx-pdf h6 {
  font-size: 18px;
}
.jusx-details .jusx-pdf .btn-view {
  background: #0dcaf0;
  border-radius: 25px;
}
.jusx-details .btn-back {
  padding: 8px 45px !important;
  margin-top: 90px;
}
.jusx-details .custom-content {
  border: none !important;
  border-radius: 10px !important;
  padding: 0px 15px 0px 15px !important;
}
.jusx-details .custom-content .custom-header {
  border-bottom: none !important;
}
.jusx-details .custom-content .custom-footer {
  border-top: none !important;
}
.jusx-details .custom-content .star-rating span {
  color: grey;
}
.jusx-details .custom-content .star-rating .checked {
  color: orange;
}